h1 {
    font-size:50px;
    text-align: center;
    display: block;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #FADDE1;
    opacity: 100%;
    border-radius: 20px;
}
header {
    display: block;
    text-align: center;
    height: 100px;
    background-image: url("https://github.com/megrose8/lab-02/blob/main/img/page-background.jpg?raw=true");
    
}
.Bio{
    background-color: #d8e2dc;
    padding-block: 10px;
    margin-block: 5px;
    border-radius: 20px;
    width: 82%;
    margin-bottom: 12px;
    
}
.edu{
    background-color: #ffe5d9;
    padding-block: 2px;
    margin-block: 5px;
    border-radius: 20px;
    width: 82%;
    margin-bottom: 12px;

}
.jobs{
    background-color: #ffcad4;
    padding-block: 2px;
    margin-block: 5px;
    border-radius: 20px;
    width: 82%;
    margin-bottom: 12px;
}
.goals{
    background-color: #f4acb7;
    padding-block: 2px;
    margin-block: 5px;
    border-radius: 20px;
    width: 82%;
    margin-bottom: 12px;
}
.topTen{
    background-color: #FADDE1;
    padding-block: 2px;
    margin-block: 5px;
    border-radius: 20px;
    width: 82%;
    margin-bottom: 12px;
}
p{ 
    padding-left: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    padding-left: 15px;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing:-1px;
}
h3{
    padding-left:15px;
    padding-bottom: 10px;
}
ol{
    padding-left: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul{
    padding-right: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: decimal;
}
#jobList{
    padding-left: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    padding-bottom: 10px
}
li{
    padding-bottom: 10px;
}
body{
    background-image: url("https://github.com/megrose8/lab-02/blob/main/img/page-background.jpg?raw=true")
}
ol{
    list-style: circle;
}
img{ 
    position:absolute;
    top: 115px;
    right: 20px;
    border-radius: 20px;
}
footer{
    height: 100px;
    background-color: #ffe5d9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
#footerText{
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
}